* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #f5f5f5;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reverse {
  transform: scaleX(-1);
}

:root {
  --min_width: 500px;
  --min_height: 700px;
  --cells_num: 20;
}

#tools-box {
  display: flex;
  width: 250px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
  background: #ccc;
  flex-direction: row-reverse;
  overflow: hidden;
  z-index: 100;
}
#tools-box > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}
#tools-box > div > i:hover {
  color: #fff;
}

#app {
  /* 20 cell full w and h */
  display: grid;
  grid-template-columns: repeat(var(--cells_num), 1fr);
  grid-template-rows: repeat(var(--cells_num), 1fr);
  width: 100%;
  height: 100%;
  min-width: var(--min_width);
  min-height: var(--min_height);
}
#app #top-panel {
  grid-column: 1/span var(--cells_num);
  grid-row: 1/span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 2rem;
}
#app #top-panel .group {
  display: flex;
  width: 22.2222222222%;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: #ccc;
  border-radius: 0.5rem;
}
#app #top-panel .group > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
#app #top-panel .group > div:hover {
  background: #fff;
}
#app #top-panel #group_1 > * {
  color: greenyellow;
}
#app #top-panel #group_2 > * {
  color: orange;
}
#app #top-panel #group_3 > * {
  color: red;
}
#app #top-panel #group_4 > * {
  color: red;
}
#app #left-panel {
  grid-column: 1/span 4;
  grid-row: 3/span 18;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
}
#app #right-panel {
  grid-column: 17/span 4;
  grid-row: 3/span 18;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
}
#app #bottom-panel {
  grid-column: 5/span 12;
  grid-row: 20/span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
}
#app #canvas {
  grid-column: 5/span 12;
  grid-row: 3/span 17;
  position: relative;
  display: flex;
  background: #fff;
}
#app #canvas #iframe-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#app #canvas #iframe-wrapper #iframe-layer {
  position: relative;
  pointer-events: none;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}
#app #canvas #iframe-wrapper #iframe-layer > * {
  position: absolute;
}
#app #canvas #iframe-wrapper #iframe-layer #highlight {
  width: 100px;
  height: 100px;
  background: rgba(45, 199, 204, 0.3);
  top: 10px;
  left: 10px;
  border: 1px solid #2dc7cc;
  transition: all 0.3s ease-in-out;
}
#app #canvas #iframe-wrapper #iframe {
  resize: both;
  width: 100%;
  height: 100%;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}/*# sourceMappingURL=app.css.map */