:root {
    --bs-primary: rgb(0, 123, 255);
}

.resize {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    outline: 2px solid var(--bs-primary);
    outline-offset: -5px;
    box-sizing: border-box;
}

.resize>div {
    position: absolute;
    pointer-events: all;
    border: 2px solid var(--bs-primary);
    width: 10px;
    height: 10px;
    margin: -5px;
}

.resize .top-left {
    top: 0;
    left: 0;
    cursor: nwse-resize;
}

.resize .top-center {
    top: 0;
    left: 0;
    right: 0;
    margin: -5px auto;
    cursor: ns-resize;
}

.resize .top-right {
    top: 0;
    right: 0;
    cursor: nesw-resize;
}

.resize .center-left {
    left: 0;
    margin: auto -5px;
    top: 0;
    bottom: 0;
    cursor: ew-resize;
}

.resize .center-right {
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto -5px;
    cursor: ew-resize;
}

.resize .bottom-left {
    bottom: 0;
    left: 0;
    cursor: nesw-resize;
}

.resize .bottom-center {
    bottom: 0;
    left: 0;
    right: 0;
    margin: -5px auto;
    cursor: ns-resize;
}

.resize .bottom-right {
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
}