.gr {
    display: flex;
    gap: 100px;
    width: fit-content;
    margin: 100px auto;

}

.resizable-rotateable {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 10px solid black;
    box-sizing: border-box;
    top: 100px;
    left: 50px;
    cursor: move;
}

/* mouse cursor */
/* cursor: crosshair; */
/* cursor: move; */
/* cursor: text; */
/* cursor: wait; */
/* cursor: help; */
/* cursor: progress; */
/* cursor: not-allowed; */