@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom srollbar use tailwindcss */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00a3ff;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #006ff9;
}